body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
}

.image {
    width: 36vmin;
    height: 50vmin;
    object-fit: cover;
    animation-timing-function: cubic-bezier(.5, -800, .5, 800);
    object-position: center;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: calc(50% - 18vmin);
    top: 50%;
    transform: translate(0%, -50%);
}

.crosshair {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}
